In [5]:
import pandas as pd
import re

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import ipywidgets as widgets
from IPython.display import display

In [6]:
import os
os.getcwd()
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'movie recommendation.ipynb',
 'movies.csv',
 'ratings.csv',
 'README.md']

In [7]:
import pandas as pd

movies = pd.read_csv("movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
import re
def clean_title(title):
    return re.sub("[^a-zA-Z0-9]","",title)

In [9]:
movies["clean_title"]=movies["title"].apply(clean_title)

In [10]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,ToyStory1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji1995
2,3,Grumpier Old Men (1995),Comedy|Romance,GrumpierOldMen1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,WaitingtoExhale1995
4,5,Father of the Bride Part II (1995),Comedy,FatheroftheBridePartII1995
...,...,...,...,...
62418,209157,We (2018),Drama,We2018
62419,209159,Window of the Soul (2001),Documentary,WindowoftheSoul2001
62420,209163,Bad Poems (2018),Comedy|Drama,BadPoems2018
62421,209169,A Girl Thing (2001),(no genres listed),AGirlThing2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,WomenofDevilsIsland1962

In [11]:
!python -m pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\kavinaya\appdata\local\programs\python\python314\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\kavinaya\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.4.0)
Requirement already satisfied: scipy>=1.10.0 in c:\users\kavinaya\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.3.0 in c:\users\kavinaya\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\kavinaya\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
tfidf=vectorizer.fit_transform(movies["clean_title"])

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import re

# clean title function
def clean_title(title):
    title = title.lower()
    title = re.sub(r'[^a-z0-9 ]', '', title)
    return title

# search function
def search(title):
    cleaned_title = clean_title(title)
    return cleaned_title

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import re

In [15]:
movies = pd.DataFrame({
    "title": [
        "Harry Potter and the Sorcerer's Stone",
        "Harry Potter and the Chamber of Secrets",
        "The Lord of the Rings",
        "Avengers Endgame"
    ]
})

In [16]:
def clean_title(title):
    title = title.lower()
    title = re.sub(r'[^a-z0-9 ]', '', title)
    return title

In [17]:
movies["clean_title"] = movies["title"].apply(clean_title)

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(movies["clean_title"])

In [18]:
query = "Harry Potter"
query_vec = vectorizer.transform([clean_title(query)])

In [19]:
similarity = cosine_similarity(query_vec, tfidf_matrix)
similarity

array([[0.5394395 , 0.50401757, 0.        , 0.        ]])

In [20]:
best_match_index = similarity.argmax()
movies.iloc[best_match_index]["title"]

"Harry Potter and the Sorcerer's Stone"

In [21]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import ipywidgets as widgets
from IPython.display import display

In [22]:
movies = pd.DataFrame({
    "movieId": [89745, 145676, 2153, 157314, 188265],
    "title": [
        "Avengers, The (2012)",
        "3 Avengers (1964)",
        "Avengers, The (1998)",
        "결백성 (2012)",
        "Проклятие (2012)"
    ],
    "genres": [
        "Action|Adventure|Sci-Fi|IMAX",
        "(no genres listed)",
        "Action|Adventure",
        "(no genres listed)",
        "Romance"
    ]
})

In [23]:
def clean_title(title):
    title = title.lower()
    title = re.sub(r'[^a-z0-9 ]', '', title)
    return title

In [24]:
movies["clean_title"] = movies["title"].apply(clean_title)
vectorizer = TfidfVectorizer(ngram_range=(1, 2))
tfidf_matrix = vectorizer.fit_transform(movies["clean_title"])

In [44]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf_matrix)[0]

    top_indices = similarity.argsort()[-5:][::-1]

    return movies.iloc[top_indices][
        ["movieId", "title", "genres", "clean_title"]
    ]

In [46]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [47]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf_matrix)[0]

    top_indices = similarity.argsort()[-5:][::-1]

    return movies.iloc[top_indices][
        ["movieId", "title", "genres"]  # removed clean_title (not needed in UI)
    ]

In [48]:
movie_input = widgets.Text(
    value="The Avengers 2012",
    description="Movie Title:",
    disabled=False
)

movie_list = widgets.Output()

def on_type(change):
    with movie_list:
        movie_list.clear_output()
        title = change["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names="value")

display(movie_input, movie_list)

Text(value='The Avengers 2012', description='Movie Title:')

Output()

In [49]:
import pandas as pd

movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [50]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [51]:
ratings=pd.read_csv("ratings.csv")

In [52]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [53]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [54]:
movie_id = 1

similar_users = ratings[
    (ratings["movieId"] == movie_id) &
    (ratings["rating"] >= 5)
]["userId"].unique()

similar_users
similar_user_recs = ratings[
    (ratings["userId"].isin(similar_users)) &
    (ratings["rating"] > 4)
]

similar_user_recs

          userId  movieId  rating  timestamp
5101          36        1     5.0  857131378
5105          36       34     5.0  834413787
5111          36      110     5.0  834412999
5114          36      150     5.0  839928587
5127          36      260     5.0  857131062
...          ...      ...     ...        ...
24998388  162530     3706     5.0  989809041
24998389  162530     3735     5.0  989808150
24998391  162530     3763     5.0  989809659
24998392  162530     4187     5.0  989809274
24998393  162530     4321     5.0  989807602

[912084 rows x 4 columns]

In [55]:
similar_user_recs.head()
len(similar_users)

13506

In [56]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
similar_user_recs = (
    ratings[
        (ratings["userId"].isin(similar_users)) &
        (ratings["rating"] > 4)
    ]
    .groupby("movieId")
    .size()
    / len(similar_users)
)
similar_user_recs = similar_user_recs.sort_values(ascending=False)
similar_user_recs.head(10)

movieId
1       1.000000
318     0.414556
260     0.404561
356     0.347253
296     0.342663
1196    0.316304
1198    0.304605
593     0.304235
527     0.299052
2571    0.296609
dtype: float64

In [57]:
similar_user_recs

movieId
1         1.000000
318       0.414556
260       0.404561
356       0.347253
296       0.342663
            ...
204556    0.000074
204366    0.000074
33        0.000074
204318    0.000074
203928    0.000074
Length: 16797, dtype: float64

In [58]:
len(similar_user_recs)
similar_user_recs = (
    ratings[
        (ratings["userId"].isin(similar_users)) &
        (ratings["rating"] > 4)
    ]
    .groupby("movieId")
    .size()
    / len(similar_users)
)

similar_user_recs = similar_user_recs.sort_values(ascending=False)
similar_user_recs.head(10)

movieId
1       1.000000
318     0.414556
260     0.404561
356     0.347253
296     0.342663
1196    0.316304
1198    0.304605
593     0.304235
527     0.299052
2571    0.296609
dtype: float64

In [59]:
all_users = ratings[
    (ratings["movieId"].isin(similar_user_recs.index)) &
    (ratings["rating"] > 4)
]

all_users_recs = (
    all_users
    .groupby("movieId")
    .size()
    / len(all_users["userId"].unique())
)

all_users_recs = all_users_recs.sort_values(ascending=False)
all_users_recs.head(10)

movieId
318     0.322037
296     0.267885
2571    0.229641
356     0.221391
593     0.212585
260     0.209102
2959    0.203936
527     0.202515
858     0.197667
50      0.188687
dtype: float64

In [60]:
recs = pd.DataFrame({
    "similar": similar_user_recs,
    "all": all_users_recs
}).fillna(0)

recs["score"] = recs["similar"] / recs["all"]
recs = recs.sort_values("score", ascending=False)

recs.head(10)

          similar       all      score
movieId
208795   0.000074  0.000006  11.881534
206757   0.000074  0.000006  11.881534
208800   0.000074  0.000006  11.881534
207892   0.000074  0.000006  11.881534
206761   0.000074  0.000006  11.881534
206459   0.000074  0.000006  11.881534
134759   0.000074  0.000006  11.881534
134712   0.000074  0.000006  11.881534
134376   0.000074  0.000006  11.881534
135095   0.000074  0.000006  11.881534

In [61]:
all_users_recs

movieId
318       0.322037
296       0.267885
2571      0.229641
356       0.221391
593       0.212585
            ...
206761    0.000006
206757    0.000006
148865    0.000006
178995    0.000006
121350    0.000006
Length: 16797, dtype: float64

In [62]:
import pandas as pd

# Build recommendation percentage table
rec_percentages = pd.DataFrame({
    "similar": similar_user_recs,
    "all": all_users_recs
}).fillna(0)

# Avoid division by zero
rec_percentages["score"] = (
    rec_percentages["similar"] / rec_percentages["all"].replace(0, 1e-9)
)

# Sort by recommendation score
rec_percentages = rec_percentages.sort_values(
    "score", ascending=False
)

# Merge with movies to get titles
final_recommendations = rec_percentages.head(10).merge(
    movies,
    left_index=True,
    right_on="movieId"   # ✅ correct column name
)

# Display final result
final_recommendations[["title", "genres", "score"]]

,title,genres,score
62338,Zana (2019),Drama,11.881534
61732,Twice,(no genres listed),11.881534
62340,Lady and the Tramp (2019),Comedy|Romance,11.881534
62107,Western Stars (2019),Documentary,11.881534
61734,The Empire of Scents (2014),Documentary,11.881534
61646,Breslin and Hamill: Deadline Artists (2018),Documentary,11.881534
29806,Passenger (1963),Drama|War,11.881534
29788,Magician: The Astonishing Life and Work of Ors...,Documentary,11.881534
29644,Dazzle (1999),Children|Fantasy,11.881534
29943,"Totò, Fabrizi e i giovani d'oggi (1960)",Comedy,11.881534

In [63]:
def find_similar_movies(movie_id):
    similar_users = ratings[
        (ratings["movieId"] == movie_id) &
        (ratings["rating"] > 4)
    ]["userId"].unique()

    similar_user_recs = ratings[
        (ratings["userId"].isin(similar_users)) &
        (ratings["rating"] > 4)
    ]["movieId"]

    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    similar_user_recs = similar_user_recs[similar_user_recs > 0.10]

    all_users = ratings[
        (ratings["movieId"].isin(similar_user_recs.index)) &
        (ratings["rating"] > 4)
    ]

    all_user_recs = (
        all_users["movieId"].value_counts()
        / len(all_users["userId"].unique())
    )

    rec_percentages = pd.concat(
        [similar_user_recs, all_user_recs],
        axis=1
    )
    rec_percentages.columns = ["similar", "all"]

    rec_percentages["score"] = (
        rec_percentages["similar"] / rec_percentages["all"]
    )

    rec_percentages = rec_percentages.sort_values(
        "score", ascending=False
    )

    return (
        rec_percentages.head(10)
        .merge(movies, left_index=True, right_on="movieId")[
            ["score", "title", "genres"]
        ]
    )

In [64]:
movie_name_input = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disabled=False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names="value")

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [65]:
# Movie title input widget
movie_name_input = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disabled=False
)

# Output area
recommendation_list = widgets.Output()

# Trigger on typing
def on_type(change):
    with recommendation_list:
        recommendation_list.clear_output()
        title = change["new"]

        if len(title) > 5:
            results = search(title)

            if results.empty:
                print("No movie found")
                return

            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

# Attach listener
movie_name_input.observe(on_type, names="value")

# Display widgets
display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()